body{
    background-image: url('https://media.baselineresearch.com/images/197439/197439_full.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
#contener-frase{
    color: red;
}
#generar-frase{
    border-radius: 20%;
    background-color: orange;
}
#generar-frase:hover{
    color: red;
    background-color: blue;

}
#reset{
    content: "";
    background-color: brown;
    
}
#reset:hover{
    color: white;
}
#reset::before{
    top: 100%;
    left: 100%;
    transition: .3s all;
}
#reset:hover::before{
    top: -50px;
    left: -30px;
}